
  .answer-option {
    padding: 12px;
    border: 1px solid #ddd;
    margin: 16px 0;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    cursor: pointer;
  }
  
  .correct-answer{
    border:1px rgb(13, 110, 34) solid
  }
  .wrong-answer{
    border:1px rgb(255, 0, 0) solid
  }
  .answer-option:hover {
    background-color: #f0f0f0;
  }
  
  .answer-label {
    font-weight: bold;
    margin-right: 10px ;
  }
  
  .answer-text {
    font-size: 1em;
  }
  .correct {
    border: 2px solid green;
  }
  
  .incorrect {
    border: 2px solid red;
  }
  
  .disabled {
    pointer-events: none;
    opacity: 0.5;
  }
  